<nz-layout style="background-color: white">
    <app-search (loading)="loading = $event" (Poetries)="updatePoetries($event)"></app-search>
    <nz-list [nzDataSource]="poetries" [nzRenderItem]="item" [nzGrid]="{gutter: 24, span: 6}" style="margin-top: 50px;">
        <nz-skeleton *ngIf="loading" [nzActive]="true" style="; width: 50%; margin-left: 25%"></nz-skeleton>
        <ng-template #item let-item>
          <nz-list-item [nzContent]="nzContent">
            <ng-template #nzContent>
                <app-card nz-col [nzSpan]="8"
             [poetry]="item" ></app-card>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
</nz-layout>
