<!--<div>-->
  <!--<app-search-box></app-search-box>-->
  <!--<app-search-result></app-search-result>-->
<!--<p>-->
  <!--you-tube-search works!-->
<!--</p>-->
<!--</div>-->

<link rel="stylesheet" href="../../../../../ch7/poetry/src/app/search/search.component.css">
<div class='container'>
  <div class="page-header">
    <h1>YouTube Search
    </h1>
  </div>

  <div class="row">
    <nz-spin [nzSize]="'large'" *ngIf="loading"></nz-spin>
    <div class="input-group input-group-lg col-md-12">
      <app-search-box
        (loading)="loading = $event"
        (results)="updateResults($event)"
      ></app-search-box>
    </div>
  </div>

  <div nz-row nzGutter="16" nzType="flex" nzJustify="space-around">
    <div nz-col class="gutter-row" nzSpan="6">
      <app-search-result nz-col
                         *ngFor="let result of results"
                         [result]="result" class="gutter-box">
      </app-search-result>
    </div>
  </div>
</div>

