<div class="layout-bg">
  <nz-layout>
    <nz-header>
      <div class="header-item">
        <a href="#">
          <img class="logo" src="../../assets/images/logos/ng-book-2-minibook.png" alt="">
        </a>
        <div>
          <p>ng-book 2</p>
        </div>
      </div>
      <div class="title">
        Angular 2 Built-in Directives
      </div>
    </nz-header>
    <div class="bg">
      <app-demo-form-ng-model class="item"></app-demo-form-ng-model>
      <app-demo-form-sku class="item"></app-demo-form-sku>
      <app-form-builder class="item"></app-form-builder>
      <app-form-validate class="item"></app-form-validate>
      <app-event-form class="item"></app-event-form>
    </div>

  </nz-layout>
</div>
