<div class="layout-bg">
  <nz-layout>
    <nz-header>
        <div class="header-item">
          <a href="#">
            <img class="logo" src="../../assets/images/logos/ng-book-2-minibook.png" alt="">
          </a>
          <div>
            <p>ng-book 2</p>
          </div>
        </div>
        <div class="title">
          Angular 2 Built-in Directives
        </div>
    </nz-header>
    <!--<nz-layout>-->
    <app-sidebar class="sider" [items]="examples"></app-sidebar>
    <nz-content>Content</nz-content>
    <!--</nz-layout>-->
  </nz-layout>
</div>

