<div class="layout-bg">
  <nz-layout>
    <nz-header>
        <div class="header-item">
          <a href="#">
            <img class="logo" src="../../assets/images/logos/ng-book-2-minibook.png" alt="">
          </a>
          <div>
            <p>ng-book 2</p>
          </div>
        </div>
        <div class="title">
          Angular 2 Built-in Directives
        </div>
    </nz-header>
    <nz-layout>
      <nz-sider>
        <ul nz-menu [nzMode]="'vertical'">
          <li nz-menu-item>Navigation Two</li>
        </ul>
      </nz-sider>
      <nz-content>Content</nz-content>
    </nz-layout>
  </nz-layout>
</div>

